@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
}
html,
body,
textarea,
input::placeholder,
input,
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
i,
blockquote,
th,
td,
input,
select,
button,
article {
  margin: 0;
  padding: 0;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: -0.024em;
}

fieldset,
img {
  border: 0 none;
}

img {
  vertical-align: middle;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input,
select,
textarea,
button {
  vertical-align: middle;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html,
body {
  -webkit-text-size-adjust: none;
}

button:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
i,
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal !important;
  font-weight: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

input {
  border: 1px solid #666;
}

.header h2 {
  font-size: 36px;
}

.input_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input_content label {
  display: inline-block;
}
.input_content button {
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
}

#addBtn {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  color: #111;
  width: 37px;
  height: 37px;
}

#addBtn span,
#addBtn span img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.todo_list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.multiple_todo {
  width: calc(33.333% - 14px);
  height: 150px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #111;
  box-shadow: 3px 3px 3px 3px #ddd;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 0;
}
.multiple_todo:nth-child(3n) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.multiple_todo li {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.multiple_todo li:last-child {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.multiple_todo .todo_content {
  position: relative;
  width: 100%;
  height: 100%;
}
.multiple_todo .todo_content .todo_checkboxes {
  width: 15px;
  height: 15px;
  margin-top: -3px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.multiple_todo .todo_content .todo_text {
  font-weight: 600;
}
.multiple_todo .todo_content .edit_mark {
  font-size: 11px;
  color: #999;
  font-weight: 300;
}
.multiple_todo .todo_content .todo_date {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
}
.multiple_todo .todo_content .button_content {
  position: absolute;
  right: 0;
  bottom: 0;
}
.multiple_todo .todo_content .button_content button {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  background-color: #28a745;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #fff;
  margin-top: 0;
  margin-right: 2px;
  margin-bottom: 0;
  margin-left: 0;
}
.multiple_todo .todo_content .button_content button:last-child {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.multiple_todo .todo_content .button_content .edit_buttons {
  background-color: #007bff;
}
.multiple_todo .todo_content .button_content .delete_buttons {
  background-color: #dc3545;
}
.multiple_todo .edit_content.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.multiple_todo .edit_content.active .edit_content_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 6px;
  width: 350px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeInDown 2s ease-in-out;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(-100%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.multiple_todo .edit_content.active .edit_content_box p {
  font-weight: 600;
}
.multiple_todo .edit_content.active .edit_content_box div {
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.multiple_todo .edit_content.active .edit_content_box div input[type=text] {
  width: 170px;
  height: 30px;
}
.multiple_todo .edit_content.active .edit_content_box div button {
  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 6px;
  padding-left: 4px;
  background-color: #28a745;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #fff;
}
.multiple_todo .edit_content.active .edit_content_box div .cancle_edit_button {
  background-color: #dc3545;
}

.multiple_todo_complete {
  background-color: #e0e0e0;
}
.multiple_todo_complete .todo_content .todo_text {
  color: #6c757d !important;
  font-weight: 200;
  text-decoration: line-through;
}
.multiple_todo_complete .todo_content input[type=checkbox] {
  pointer-events: none;
}

.edit_content {
  display: none;
}

.edit_content.active {
  display: block;
}

@media (max-width: 767px) {
  .multiple_todo {
    width: calc(50% - 10px);
  }
  .multiple_todo:nth-child(3n) {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .multiple_todo:nth-child(2n) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
@media (max-width: 530px) {
  .multiple_todo {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .multiple_todo:nth-child(3n) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .multiple_todo:nth-child(2n) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}/*# sourceMappingURL=common.css.map */