@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
body,
textarea,
input::placeholder,
input {
   font-family: 'Roboto', 'Noto Sans KR', 'sans-serif';
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   src: url('../../font/Roboto-Light.ttf') format('woff2');
   unicode-range: U+0030-0039;
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: url('../../font/Roboto-Regular.ttf') format('woff2');
   unicode-range: U+0030-0039;
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: url('../../font/Roboto-Medium.ttf') format('woff2');
   unicode-range: U+0030-0039;
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: url('../../font/Roboto-Black.ttf') format('woff2');
   unicode-range: U+0030-0039;
}
